layout {
  cwd "/home/pheon-dev/go/src/github.com/Pheon-Dev/flamingo"

  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      pane borderless=true
    }

  pane_template name="dev" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      children
    }

  tab_template name="code_tab" {
      dev split_direction="horizontal" {
        pane split_direction="vertical" {
          children
          pane command="nvim" size="30%" cwd="/home/pheon-dev/.config/flamingo" {
                args "./config.yaml"
            }
          }
        pane command="go" size="30%" {
              args "run" "."
          }
        }
    }

  code_tab name="code (flamingo)" focus=true {
      pane command="nvim"
    }
}
