
layout {
  cwd "/home/pheon/Documents/Rust/m-pesa"

  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      pane borderless=true
    }

  pane_template name="child" {
      children
    }

  pane_template name="dev" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      children
    }

  tab_template name="code_tab" {
      children
    }

  code_tab name="m-pesa (pkg)" focus=true {
      dev split_direction="vertical" {
          pane borderless=true
          pane
       }
    }

  code_tab name="reference" cwd="/home/pheon/Documents/packages/m-pesa" {
      dev split_direction="vertical" borderless=false {
          pane 
          pane split_direction="horizontal" {
              pane 
              pane size="36%"
           }
       }
    }

  code_tab name="micellaneous" {
      dev {
        pane borderless=true
      }
    }
}
