/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;
* {
  border: none;
  font-family: 'IosevkaNF', 'Symbols Nerd Font Mono';
  font-style: italic;
  font-weight: bold;
  /* padding: 0; */
  /* margin: 0; */
  /* font-size: 16px; */
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 15px;
  /* reference the color by using @color-name */
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 1.0);
  border: 1px solid alpha(@base, 1.0);
}

#workspaces button.active {
  border-radius: 3px;
  background-color: shade(@surface0, 1.0);
  color: @base;
  /* margin-top: 2px; */
  /* margin-bottom: 2px; */
	/* margin-right: 15px; */
  /* padding-top: 1px; */
  /* padding-bottom: 1px; */
  /* padding-left: 2px; */
  /* padding-right: 2px; */
}

#custom-arch {
  /* border-radius: 10px; */
  color: @text;
  /* margin-top: 1px; */
	margin-right: 5px;
 /*  padding-top: 1px; */
 /*  padding-bottom: 1px; */
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  /* font-size: 20px; */
	/* margin-left: 15px; */
  color: #51afef;
}

#workspaces button {
  background: shade(@base, 1.0);
  color: @text;
}

#pulseaudio, #bluetooth, #network, #battery, #memory, #cpu, #backlight, #bluetooth, #disk, #clock {
  /* background: shade(@base, 0.9); */
 background-color: shade(@base, 1.0);
  color: @text;
  border-radius: 5px;
  /* margin-top: 1px; */
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
