/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface  #24273a;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;
@define-color overlay3 #a6adc8;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;
* {
  border: none;
  font-family: 'Maple Mono', 'Symbols Nerd Font Mono';
  font-style: italic;
  font-weight: bold;
  padding: 0;
  margin: 0;
  /* font-size: 16px; */
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 15px;
  /* reference the color by using @color-name */
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 1.0);
  border: 1px solid alpha(@base, 1.0);
}

#workspaces button {
  background-color: shade(@base, 1.0);
 /* background-color: shade(@surface0, 1.0); */
  /* color: @text; */
	margin-right: 2px;
	padding-right: 2px;
  margin-left: 2px;
  margin-right: 0px;
}

#workspaces button.active {
  border-radius: 0px;
  background-color: shade(@base, 1.0);
  border-bottom: 2px solid @overlay3;
  color: @base;
	margin-right: 5px;
  padding-left: 5px;
}

#custom-arch {
  color: @text;
	margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  color: #51afef;
 background-color: shade(@base, 1.0);
}

#memory {
  color: @text;
  background: shade(@surface0, 1.0);
}

#cpu {
  color: @text;
 /* background-color: shade(@base, 1.0); */
 background-color: shade(@surface, 1.0);
}

#clock {
  color: @text;
 /* background-color: shade(@overlay2, 1.0); */
 background-color: shade(@base, 1.0);
}

#battery {
  color: @base;
  background: shade(@overlay3, 1.0);
}

#pulseaudio {
  color: @text;
 /* background-color: shade(@base, 1.0); */
 background-color: shade(@surface1, 1.0);
}

#network {
  color: @base;
  background: shade(@overlay1, 1.0);
}

#disk {
  color: @subtext1;
 background-color: shade(@surface2, 1.0);
}

#bluetooth {
  color: @surface0;
 /* background-color: shade(@base, 1.0); */
 background-color: shade(@overlay0, 1.0);
}

#backlight {
  color: @base;
 /* background-color: shade(@base, 1.0); */
 background-color: shade(@overlay2, 1.0);
}

#pulseaudio, #bluetooth, #network, #battery, #memory, #cpu, #backlight, #bluetooth, #disk, #clock {
  /* background: shade(@base, 0.9); */
  /* background: shade(@surface0, 1.0); */
  border-radius: 0px;
  /* margin-top: 1px; */
  margin-left: 0px;
  margin-right: 0px;
  /* padding-bottom: 3px;
  padding-top: 5px; */
  padding-left: 8px;
  padding-right: 8px;
}
