layout name="manta-api" {
  cwd "/home/pheon-dev/rust/manta-api"

  tab_template name="manta_tab" {
    children
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
      }
  }

  manta_tab name="manta-api" focus=true {
    pane split_direction="vertical" {
        pane borderless=true command="nvim"
        pane split_direction="horizontal" {
          pane stacked=true {
            pane name="SERVER"
            pane name="TEST"
            // pane command="bash" name="SERVER" {
            //   args "-c" "cargo-watch -q -c -w src/ -x run"
            // }
            // pane command="bash" name="TEST" {
            //   args "-c" "cargo-watch -q -c -w examples/ -x 'run --example quick_dev'"
            // }
            pane name="REF"
            pane name="CMD"
          }
        }
      }
    }

  // manta_tab name="wallet-app" cwd="/home/pheon-dev/rust/manta-api/web-folder/wallet-app" {
  //   pane split_direction="vertical" {
  //       pane borderless=true command="nvim"
  //       pane split_direction="horizontal" {
  //         pane stacked=true {
  //           pane name="SERVER"
  //           // pane expanded=true command="bash" name="SERVER" {
  //           //   args "-c" "yarn tauri dev"
  //           // }
  //           pane name="REF"
  //           pane name="CMD"
  //         }
  //       }
  //     }
  //   }
  //
  // manta_tab name="kplc-app" cwd="/home/pheon-dev/rust/manta-api/web-folder/kplc-app" {
  //   pane split_direction="vertical" {
  //       pane borderless=true command="nvim"
  //       pane split_direction="horizontal" {
  //         pane stacked=true {
  //           pane name="SERVER"
  //           // pane expanded=true command="bash" name="SERVER" {
  //           //   args "-c" "yarn tauri dev"
  //           // }
  //           pane name="REF"
  //           pane name="CMD"
  //         }
  //       }
  //     }
  //   }

  manta_tab name="wallet-web-app" cwd="/home/pheon-dev/Documents/next/manta-wallet" {
    pane split_direction="vertical" {
        pane borderless=true command="nvim"
        pane split_direction="horizontal" {
          pane stacked=true {
            pane name="SERVER"
            // pane expanded=true command="bash" name="SERVER" {
            //   args "-c" "yarn dev"
            // }
            pane name="REF"
            pane name="CMD"
          }
        }
      }
    }

  manta_tab name="manta-api (ref)" cwd="/home/pheon-dev/rust/rust-ref/manta-api" {
    pane split_direction="vertical" {
        pane borderless=true command="nvim"
        pane split_direction="horizontal" {
          pane stacked=true {
            pane name="DOCKER"
            pane name="SERVER"
            pane name="TEST"
            // pane expanded=true command="bash" name="SERVER" {
            //   args "-c" "yarn dev"
            // }
            pane name="REF"
            pane name="CMD"
          }
        }
      }
    }
}
