layout name="noble" {
  cwd "/home/pheon-dev/"

  tab_template name="noble_tab" {
    children
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
      }
  }

  noble_tab name="neon" focus=true {
    pane split_direction="vertical" {
        pane borderless=true command="bash" {
          args "-c" "fd --type directory -HE='{.tmux/*,.cache,.cargo,node_modules,Videos,Music,.nvm,.hyprland,Pictures,.vim/*,.gitmoji,.git,.vercel,.next,target,.yarn,$IGNORE}' --strip-cwd-prefix --follow | fzf --bind 'ctrl-l:execute(cd {} 2>/dev/null && nvim --listen ~/.cache/nvim/server.pipe || nvim --server ~/.cache/nvim/server.pipe --remote ~/{})'"
        }
        pane split_direction="horizontal" {
          pane stacked=true {
            pane
            pane
            pane
            pane
            pane
          }
        }
      }
    floating_panes {
      pane command="lf"
    }
    }


  noble_tab name="krypton" {
    pane split_direction="vertical" {
        pane borderless=true
        pane split_direction="horizontal" {
          pane stacked=true {
            pane
            pane
            pane
          }
        }
      }
    }

  noble_tab name="radon" {
    pane split_direction="vertical" {
        pane borderless=true
        pane split_direction="horizontal" {
          pane stacked=true {
            pane
            pane
            pane
          }
        }
      }
    }

  // tab name="argon" focus=true {
  //   pane split_direction="vertical" {
  //       pane borderless=true
  //       pane split_direction="horizontal" {
  //         pane stacked=true {
  //           pane
  //           pane
  //           pane
  //         }
  //       }
  //     }
  //     pane size=1 borderless=true {
  //         plugin location="zellij:compact-bar"
  //       }
  //   }


  // tab name="helium" focus=true {
  //   pane split_direction="vertical" {
  //       pane borderless=true
  //       pane split_direction="horizontal" {
  //         pane stacked=true {
  //           pane
  //           pane
  //           pane
  //         }
  //       }
  //     }
  //     pane size=1 borderless=true {
  //         plugin location="zellij:compact-bar"
  //       }
  //   }
}
