layout name="royal-diadems" {
  cwd "/home/pheon-dev/Documents/next/royal-diadems-blog"

  tab name="dev-tab" focus=true {
    pane split_direction="vertical" {
        pane borderless=true command="nvim"
        pane split_direction="horizontal" {
          pane stacked=true {
            pane command="bash" name="Server [yarn dev]" {
              args "-c" "yarn dev"
            }
            pane command="bash" name="git" {
              args "-c" "lazygit"
            }
            pane command="bash" name="File Manager" {
              args "-c" "lf"
            }
            // pane command="bash" name="SERVER [planet scale]" {
            //   args "-c" "pscale connect destiny-credit dev"
            // }
            // pane command="bash" name="SERVER [prisma studio]" {
            //   args "-c" "yarn prisma studio"
            // }
            pane name="REF"
            pane name="CMD"
          }
        }
      }
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
    }
}

