/* Go to about:config and find browser.urlbar.resultMenu.keyboardAccessible. Make it false. */
/* https://github.com/MrOtherGuy/firefox-csshacks/blob/7daa9b45e31fb1821a62546b9d513613d01aa1e9/chrome/autohide_tabstoolbar.css */

/* :root { */
/*     --address-bar-height: 40px; */
/*     --browser-offset: calc(-1 * (var(--address-bar-height) + 1px)); */
/* } */
#navigator-toolbox-background {
    position: absolute !important;;
}
#navigator-toolbox-background ~ #browser {
    margin-top: var(--browser-offset) !important;
}
#navigator-toolbox-background:hover, #navigator-toolbox-background:focus-within {
    z-index: 9001 !important;
}
/* Base color for the theme, dependent on whether it's a light theme or not */
@media (prefers-color-scheme: dark) {
    :root {
        --lwt-accent-color: #21222c;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --lwt-accent-color: #FAFAFC;
    }
}

/*====== Aesthetics ======*/
#navigator-toolbox {
    border-bottom: none !important;
}

#titlebar {
    background: var(--lwt-accent-color) !important;
}

/* Sets the toolbar color */
toolbar#nav-bar {
    background: var(--lwt-accent-color) !important;
    box-shadow: none !important;
}

/* Sets the URL bar color */
#urlbar {
    background: var(--lwt-accent-color) !important;
}

#urlbar-background {
    background: var(--lwt-accent-color) !important;
    border: none !important;
}

#urlbar-input-container {
    border: none !important;
}

/*====== UI Settings ======*/

:root {
    --navbarWidth: 500px; /* Set width of navbar */
}

/* If the window is wider than 1000px, use flex layout */
@media (min-width: 1000px) {
    #navigator-toolbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

     /* Url bar  */
    #nav-bar {
        order: 1;
        width: 100%;
    }

    /* Tab bar */
    #titlebar {
        order: 2;
        width: calc(100vw - var(--navbarWidth) - 1px);
    }

    /* Bookmarks bar */
    #PersonalToolbar {
        order: 3;
        width: 100%;
    }

    /* Fix urlbar sometimes being misaligned */
    :root[uidensity="compact"] #urlbar {
        --urlbar-toolbar-height: 35.00px !important;
    }

    :root[uidensity="touch"] #urlbar {
        --urlbar-toolbar-height: 49.00px !important;
    }
}

/*====== Simplifying interface ======*/

/* Autohide back button when disabled */
#back-button, #forward-button {
    transform: scale(1, 1) !important;
    transition: margin-left 150ms var(--animation-easing-function), opacity 250ms var(--animation-easing-function), transform 350ms var(--animation-easing-function) !important;
}

#back-button[disabled="true"], #forward-button[disabled="true"] {
    margin-left: -34px !important;
    opacity: 0 !important;
    transform: scale(0.8, 0.8) !important;
    pointer-events: none !important;
}

/* Remove UI elements */
#identity-box, /* Site information */
#tracking-protection-icon-container, /* Shield icon */
#page-action-buttons > :not(#urlbar-zoom-button, #star-button-box), /* All url bar icons except for zoom level and bookmarks */
#urlbar-go-button, /* Search URL magnifying glass */
#alltabs-button, /* Menu to display all tabs at the end of tabs bar */
.titlebar-buttonbox-container /* Minimize, maximize, and close buttons */ {
    display: none !important;
}

#nav-bar {
    box-shadow: none !important;
}

/* Remove "padding" left and right from tabs */
.titlebar-spacer {
    display: none !important;
}

/* Fix URL bar overlapping elements */
#urlbar-container {
    min-width: initial !important;
}

/* Remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

/* Hide the hamburger menu */
#PanelUI-menu-button { 
    padding: 0px !important;
}

#PanelUI-menu-button .toolbarbutton-icon { 
    width: 1px !important; 
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
    padding: 0px !important; 
}

.titlebar-buttonbox-container{
  position: fixed;
  display: block;
  top:0;
  right:0;
  height: 40px;
  z-index: 3;
  visibility: visible !important;
}

@media (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
  .titlebar-buttonbox-container{ left:0; right: unset !important; }
}
@supports -moz-bool-pref("userchrome.force-window-controls-on-left.enabled"){
  .titlebar-buttonbox-container{ left:0; right: unset !important; }
}


:root[uidensity="compact"] .titlebar-buttonbox-container{ height: 32px }
.titlebar-buttonbox-container > .titlebar-buttonbox{ height: 100%; }

/* Re-adjust window cotrols if menubar is permanently enabled  */
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"]{ transform: translateX(0px); }
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"] .titlebar-buttonbox-container{ height: 100%; }
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"] .titlebar-button{ padding: 2px 17px !important; }

@media  (-moz-platform: windows){
  #titlebar{ -moz-appearance: none !important; }
}
/* Move tabs below content */
#main-window > body::after{
  content: "";
  display: flex;
}
#main-window[inFullscreen]:not([inDOMFullscreen]) > body::after,
#main-window:not([inFullscreen]) > body::after{
  margin-bottom: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px));
}

#TabsToolbar{
  position: fixed;
  display: block;
  bottom: 0;
  width: 100vw;
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px));
  --tabs-navbar-shadow-size: 0px;
}
#TabsToolbar:hover{ z-index: 1 }

#TabsToolbar{ background: var(--lwt-accent-color) !important; }
#TabsToolbar-customization-target{ width: 100vw; }

/* .tab-background{ border-top-style: none !important; } */

/* Hide stuff that doesn't make sense with tabs below content */
#TabsToolbar > .titlebar-buttonbox-container,
#TabsToolbar .titlebar-spacer{
  display: none !important;
}
:root[inFullscreen] #toolbar-menubar > .titlebar-buttonbox-container{ display: flex !important; }

@supports -moz-bool-pref("browser.fullscreen.autohide"){
  #main-window[inFullscreen]:not([inDOMFullscreen]) > body::after{
    margin-bottom: 1px;
  }
  :root[inFullscreen] #navigator-toolbox:not(:hover) .titlebar-buttonbox-container{ display: none !important; }
}

#urlbar[usertyping] .urlbarView-row:not([type]):first-child,
#urlbar[usertyping] .urlbarView-row[type="search"]:first-child,
.urlbarView-row[type="tabtosearch"] {
  display: none !important;
}
