[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/pheon-dev
Type=simple
ExecStart=/home/pheon-dev/.cargo/bin/kanata --cfg /home/pheon-dev/.config/kanata/config.kbd
Restart=no

[Install]
WantedBy=default.target
